body {
    background-color: #EEF;
    
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #0AE;
}
.cuboid .cuboid-side {
    background-color:rgba(200, 220, 255, 0.3);
    border: solid 1px #0AF;
}
