.cube {
    position: absolute;
    transform-style: preserve-3d;
 }


.cube .cube-side {
    border: solid 1px #333;
    transition : all 0.5s;
    transform-style: preserve-3d;
    box-sizing: border-box;
    position: absolute;
    backface-visibility: visible;
}


.cube:hover .cube-side {
    border: solid 3px #333;
}

.cube .cube-side-top {
    
}

.cube .cube-side-front {
    top: 100%;
    transform-origin: 0 0;
    transform: rotateX(-90deg);
}

.cube .cube-side-right {
    top: 0;
    left:100%;
    transform-origin: 0 0;
    transform: rotateY(90deg);
}

.cube .cube-side-left {
    top: 0;
    left:0;
    transform-origin: 0 0;
    transform: rotateY(90deg);
}

.cube .cube-side-back {
    top: 0%;
    transform-origin: 0 0;
    transform: rotateX(-90deg);
}


.cube .cube-side-bottom {
 
}


.cube .side-top-content {
    position: absolute;
    width: 100%;
    height:100%;
}



.cube.cube-top {
    /*box-shadow: 5px 5px 10px rgba(0,0,0, 0.7);*/
}

.cube.cube-right {
    /*box-shadow: 5px 5px 10px rgba(0,0,0, 0.7);*/
}

.cube.cube-bottom:first-of-type {
    /*background-color:#FF0;*/
}

.cube.cube-bottom {
    /*box-shadow: -5px 5px 10px rgba(0,0,0, 0.7);*/
}

.cube-wrapper {
    position: absolute;
}


.cube .side-top-content {
    font-size: 100px;
    text-align: center;
}







