


.cube__0 .cube-side {
    background-color: #EB1585
}
.cube__1 .cube-side {
    background-color: #A2CF00
}
.cube__2 .cube-side {
    background-color: #24AACE
}
.cube__3 .cube-side {
    background-color: #FEDD58
}
.cube__4 .cube-side {
    background-color: #DA0000
}
